@import "mixin";

.home-hero {
  padding: rem(150) 0;
  display: flex;
  align-items: center;
  background-color: #f85c3a;
  background-image: url(/images/home/home-back.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  overflow: hidden;
  @media (max-width: 992px) {
    background-size: 200%;
    flex-direction: column;
    gap: 80px;
    height: auto;
    padding-top: 80px;
    padding-bottom: rem(60);
  }
  .hero-mobile {
    width: 100%;
    display: none;
    @media (max-width: 992px) {
      display: block;
    }
  }
  ._container {
    width: 100%;
  }
  &__body {
    display: flex;
    position: relative;
    gap: rem(30);
    > img {
      position: absolute;
      right: 0;
      top: -50px;
      @media (max-width: rem(992)) {
        position: relative;
        margin: 0;
        width: 100%;
        height: auto;
        top: unset;
      }
    }
    @media (max-width: rem(992)) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    h1 {
      color: var(--5, #fff);
      font-size: rem(48);
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      margin: 0 0 24px 0;
      @media (max-width: rem(992)) {
        font-size: rem(24);
      }
    }
    p {
      color: var(--4, #f6f6f6);
      margin: 0 0 30px 0;
      font-size: rem(24);
      font-style: normal;
      font-weight: 500;
      line-height: 1.2;
      @media (max-width: rem(992)) {
        font-size: rem(20);
      }
    }
    a {
      width: fit-content;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: rem(25);
      list-style-type: none;
      padding: 0;
      margin: 0 0 rem(40) 0;
      li {
        color: #fff;
        font-size: rem(16);
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        display: flex;
        align-items: center;
        gap: rem(9);
      }
    }
  }
}

.home-how {
  padding: 100px 0;
  background-color: #2d2d2d;
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: 992px) {
    padding: rem(80) 0;
    background-image: none;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    gap: rem(60);

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      gap: rem(30);
    }
    > a {
      display: none;
      @media (max-width: 992px) {
        display: flex;
        margin: 0 auto;
        width: fit-content;
      }
    }

    h2 {
      color: #fff;
      font-size: rem(48);
      font-weight: 600;
      line-height: 1.2;
      text-align: left;
      text-transform: uppercase;
      margin: 0 0 rem(25) 0;
      @media (max-width: 992px) {
        font-size: rem(40);
        text-align: left;
        width: 100%;
      }
    }

    p {
      margin: 0 0 rem(25) 0;
      color: #ffffff;
      font-size: rem(14);
      font-style: normal;
      font-weight: 500;
      line-height: 1.2; /* 22.4px */
    }
  }
  &__col-01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: rem(225);
    @media (max-width: 992px) {
      width: 100%;
      align-items: center;
      p {
        br {
          display: none;
        }
      }
      a {
        display: none;
      }
    }
  }
  &__col-02 {
    width: calc(100% - rem(285));
    overflow-x: auto;
    @media (max-width: 992px) {
      width: 100%;
    }
    .row {
      display: flex;
      gap: 30px;
      @media (max-width: 992px) {
        width: rem(825);
      }
    }

    .how-element {
      //height: 100%;
      padding: rem(40) rem(20);
      width: calc(33.33% - rem(20));
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      background: #fff;
      box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.05);
      @media (max-width: 992px) {
        width: rem(255);
      }
      span {
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        height: 35px;
        width: 35px;
        border-radius: 38px;
        background: #f85c3a;
      }
      h3 {
        color: #2d2d2d;
        font-size: rem(20);
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: rem(25) 0 rem(10) 0;
      }
      p {
        color: #2d2d2d;
        margin: 0;
        font-size: rem(14);
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 22.4px */
      }
    }
  }
}

.send-money {
  background: #f6f6f6;
  padding: rem(100) 0;
  @media (max-width: 992px) {
    padding: rem(80) 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(30);
    h2 {
      color: #2d2d2d;
      font-size: rem(24);
      font-weight: 600;
      line-height: 1.2;
      text-align: left;
      margin: 0;
    }
    .wrap {
      display: flex;
      flex-direction: column;
      margin: rem(10) 0;
      gap: rem(20);
      .item {
        display: flex;
        gap: rem(20);
        background: #ffffff;
        box-shadow: 0px 4px 20px 0px #0000000d;
        padding: rem(30);
        border-radius: rem(20);
        > span {
          display: block;
          width: rem(35);
          height: rem(35);
          border: 10px solid #f85c3a;
          border-radius: 50%;
        }
        > div {
          width: calc(100% - rem(55));
          h3 {
            color: #2d2d2d;
            font-size: rem(24);
            font-weight: 600;
            line-height: 1.2;
            text-align: left;
            margin: 0 0 rem(20) 0;
          }
          p {
            color: #2d2d2d;
            font-size: rem(16);
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
            margin: 0;
          }
        }
      }
    }
  }
}

.virtual-cards {
  padding: rem(100) 0;
  background-image: url(/images/home/virtual.webp);
  background-position: right top;
  background-size: 45%;
  background-repeat: no-repeat;
  @media (min-width: 1600px) {
    background-size: 35%;
  }
  @media (max-width: 992px) {
    padding: rem(80) 0;
    background-image: none;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(30);
    h2 {
      color: #2d2d2d;
      font-size: rem(24);
      font-weight: 600;
      line-height: 1.2;
      text-align: left;
      margin: 0;
    }
    .wrap {
      display: flex;
      flex-direction: column;
      margin: rem(10) 0;
      gap: rem(50);
      .item {
        display: flex;
        gap: rem(20);
        border-radius: rem(20);
        > span {
          display: block;
          width: rem(35);
          height: rem(35);
          border: 10px solid #f85c3a;
          border-radius: 50%;
        }
        > div {
          width: calc(100% - rem(55));
          h3 {
            color: #2d2d2d;
            font-size: rem(24);
            font-weight: 600;
            line-height: 1.2;
            text-align: left;
            margin: 0 0 rem(20) 0;
          }
          p {
            color: #2d2d2d;
            font-size: rem(16);
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
            margin: 0;
            @media (max-width: 992px) {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.home-receive {
  padding: 120px 0;
  background-color: #2d2d2d;
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: 992px) {
    padding: rem(80) 0;
    background-image: none;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    gap: rem(60);

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      gap: rem(30);
    }
    > a {
      display: none;
      @media (max-width: 992px) {
        display: flex;
        margin: 0 auto;
        width: fit-content;
      }
    }

    h2 {
      color: #fff;
      font-size: rem(32);
      font-weight: 600;
      line-height: 1.3;
      text-align: left;
      text-transform: uppercase;
      margin: 0 0 rem(25) 0;
      @media (max-width: 992px) {
        font-size: rem(24);
        text-align: left;
        width: 100%;
      }
    }

    p {
      margin: 0 0 rem(25) 0;
      color: #ffffff;
      font-size: rem(14);
      font-style: normal;
      font-weight: 500;
      line-height: 1.2; /* 22.4px */
    }
  }
  &__col-01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: rem(225);
    @media (max-width: 992px) {
      width: 100%;
      align-items: center;
      p {
        br {
          display: none;
        }
      }
      a {
        display: none;
      }
    }
  }
  &__col-02 {
    width: calc(100% - rem(285));
    overflow-x: auto;
    @media (max-width: 992px) {
      width: 100%;
    }
    .row {
      display: flex;
      gap: 30px;
      @media (max-width: 992px) {
        width: rem(825);
      }
    }

    .how-element {
      //height: 100%;
      padding: rem(40) rem(20);
      width: calc(33.33% - rem(20));
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      background: #fff;
      box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.05);
      @media (max-width: 992px) {
        width: rem(255);
      }
      span {
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        height: 35px;
        width: 35px;
        border-radius: 38px;
        background: #f85c3a;
      }
      h3 {
        color: #2d2d2d;
        font-size: rem(20);
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: rem(25) 0 rem(10) 0;
      }
      p {
        color: #2d2d2d;
        margin: 0;
        font-size: rem(14);
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 22.4px */
      }
    }
  }
}

.about-us {
  &__body {
    .top {
      background-color: #f6f6f6;
      padding: rem(90) rem(65);
      border-radius: rem(40) rem(40) 0 0;
      background-position: top right;
      background-image: url(/images/home/about-back.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      @media (max-width: rem(992)) {
        padding: rem(80) rem(20);
      }
      h2 {
        color: #2d2d2d;
        font-size: rem(50);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        @media (max-width: rem(992)) {
          font-size: rem(32);
        }
      }
      .wrap {
        display: flex;
        flex-direction: column;
        margin: rem(60) 0 0 0;
        padding-top: rem(60);
        gap: rem(30);
        border-top: 1px solid #00000026;
        @media (max-width: rem(992)) {
          margin: rem(30) 0 0 0;
          padding-top: rem(30);
        }
        .item {
          display: flex;
          gap: rem(20);
          border-radius: rem(20);
          > span {
            display: block;
            width: rem(20);
            height: rem(20);
            border: 5px solid #f85c3a;
            border-radius: 50%;
          }
          > div {
            width: calc(100% - rem(40));
            h3 {
              color: #2d2d2d;
              font-size: rem(16);
              font-weight: 600;
              line-height: 1.2;
              text-align: left;
              margin: 0 0 rem(20) 0;
            }
            p {
              color: #2d2d2d;
              font-size: rem(16);
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              margin: 0;
              @media (max-width: 992px) {
                br {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .bottom {
      background: #2d2d2d;
      padding: rem(60) rem(65) rem(60) rem(65);
      border-radius: 0 0 rem(40) rem(40);
      position: relative;
      @media (max-width: 992px) {
        padding: rem(50) rem(20) rem(60) rem(20);
      }
      > span {
        color: #fff;
        font-size: rem(12);
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
        height: rem(32);
        width: rem(125);
        background: #f85c3a;
        border-radius: rem(20);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: rem(65);
        top: -16px;
        @media (max-width: 992px) {
          left: rem(20);
        }
      }
      .row {
        display: flex;
        gap: rem(60);
        @media (max-width: 992px) {
          flex-direction: column;
          gap: rem(30);
        }
        > div {
          width: calc(33.33% - rem(40));
          @media (max-width: 992px) {
            width: 100%;
          }
          h3 {
            color: #fff;
            font-size: rem(16);
            font-weight: 600;
            line-height: 1.2;
            text-align: left;
            margin: 0 0 rem(20) 0;
            text-transform: uppercase;
          }
          p {
            color: #fff;
            font-size: rem(16);
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            margin: 0;
            @media (max-width: 992px) {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.request-form {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(80) 0;
  }
  h2 {
    color: #2d2d2d;
    text-transform: uppercase;
    font-size: rem(30);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 rem(15) 0;
  }
  h3 {
    color: #2d2d2d;
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 rem(30) 0;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);
    max-width: rem(540);
    margin: 0 auto;
    button {
      margin: 10px auto 0 auto;
      @media (max-width: rem(992)) {
        margin-top: rem(10);
      }
    }

    .form-field {
      &.invalid {
        > div {
          border-color: #ee342a;
        }
      }
    }

    .react-tel-input {
      .country-list{
        width: rem(262);
        &::-webkit-scrollbar {
          background: transparent;
          width: rem(5);
        }
      
        &::-webkit-scrollbar-track {
          background: #dcdcdc;
        }
      
        &::-webkit-scrollbar-thumb {
          background-color: #f85c3a;
          border-radius: 100px;
        }
      }
      input {
        font-size: rem(16);
        width: 100%;
        height: rem(50);
        color: #222222;
        padding: 0 rem(24) 0 rem(40);
        background-color: #ffffff;
        border-radius: rem(25);
        border: 1px solid #dcdcdc;
        font-weight: 500;
        &::placeholder {
          color: #222222;
        }
      }
      &.invalid {
        input {
          border: 1px solid #ee342a;
        }
        & + span {
          color: #ee342a;
          position: absolute;
          font-size: 11px;
          line-height: 1;
        }
      }
      .flag-dropdown {
        border: none !important;
        background: transparent !important;
      }
      .selected-flag {
        border: none !important;
        background: transparent !important;
      }
    }

    > div {
      width: calc(50% - rem(8));
      position: relative;
      @media (max-width: rem(992)) {
        width: 100%;
      }

      .error {
        color: #ee342a;
        position: absolute;
        font-size: 11px;
        line-height: 1;
      }

      &.full {
        width: 100%;
      }

      &.checkbox {
        width: 100%;
        input {
          display: none;
          &:checked + label {
            svg {
              circle:last-child {
                opacity: 1;
                transition: all 0.5s;
              }
            }
          }
          &.invalid + label {
            color: #ee342a;
          }
        }
        label {
          display: flex;
          align-items: flex-start;
          gap: rem(10);
          justify-content: center;
          color: #f8f8f8;
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          svg {
            margin-top: rem(3);
            width: rem(16);
            circle:last-child {
              opacity: 0;
              transition: all 0.5s;
            }
          }
          span {
            @media (max-width: rem(992)) {
              width: calc(100% - 24px);
            }
          }
        }
      }

      input,
      textarea {
        font-size: rem(16);
        width: 100%;
        height: rem(50);
        color: #0d0d0d;
        padding: 0 rem(24);
        background-color: #ffffff;
        border-radius: rem(25);
        border: 1px solid #dcdcdc;
        font-weight: 500;
        &::placeholder {
          color: #848484;
        }
        &.invalid {
          border: 1px solid #ee342a;
        }
      }
      textarea {
        border-radius: rem(16);
        padding: rem(10) rem(24);
        height: rem(150);
        &.small {
          height: rem(70);
          @media (max-width: rem(992)) {
            height: rem(60);
          }
        }
      }
    }
  }
}
